:root {
  --navigation-padding: 20px;
  --item-padding: 10px;
  --content-padding: 40px;
  --credits-height: 24px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
}

#mkrdr-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#mkrdr-wrp {
  width: 100%;
  min-height: calc(100vh - var(--credits-height));
  display: flex;
}

#mkrdr-credits {
  height: var(--credits-height);
  line-height: var(--credits-height);
  padding: 0 16px;
  font-size: 12px;
  background-color: #F8F8F8;
  color: #666666;
}


#mkrdr-navigation,
#mkrdr-headers {
  flex: 0 0 240px;
  width: 240px;
  background-color: #F8F8F8;
}
#mkrdr-headers {
  display: none;
}
#mkrdr-navigation-cnt {
  display: none;
}
#mkrdr-root.with-navigation #mkrdr-navigation-cnt {
  display: block;
}
#mkrdr-root.with-headers #mkrdr-headers {
  display: block;
}
#mkrdr-logo {
  padding: var(--navigation-padding);
  text-align: center;
}
#mkrdr-logo img {
  vertical-align: top;
  width: 100%;
  max-width: 200px;
}
#mkrdr-navigation-cnt,
#mkrdr-headers-cnt {
  position: sticky;
  top: 0;
}
#mkrdr-headers-menu,
#mkrdr-navigation-menu {
  padding: var(--navigation-padding);
}

#mkrdr-headers-menu [data-type="h1"] {
  font-size: 15px;
}
#mkrdr-headers-menu [data-type="h2"] {
  padding-left: var(--item-padding);
  font-size: 14px;
}
#mkrdr-headers-menu [data-type="h3"] {
  padding-left: calc(var(--item-padding) * 2);
  font-size: 13px;
}
#mkrdr-headers-menu [data-type="h4"] {
  padding-left: calc(var(--item-padding) * 3);
  font-size: 12px;
}
#mkrdr-headers-menu [data-type="h5"] {
  padding-left: calc(var(--item-padding) * 4);
  font-size: 11px;
}
#mkrdr-headers-menu [data-type="h6"] {
  padding-left: calc(var(--item-padding) * 5);
  font-size: 10px;
}
#mkrdr-navigation ul,
#mkrdr-headers ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mkrdr-navigation ul ul {
  padding-left: var(--item-padding);
}
#mkrdr-navigation li.active > a,
#mkrdr-headers li.active > a {
  font-weight: bold;
}
#mkrdr-navigation a,
#mkrdr-headers a {
  text-decoration: none;
  color: #666666;
  display: block;
  line-height: 16px;
  padding: 6px var(--item-padding);
  border-bottom: 1px solid #CCCCCC;
}

#mkrdr-content {
  flex: 1 1 0;
  width: calc(100vw - (240px * 2));
  box-sizing: border-box;;
  padding: var(--content-padding);
}
#mkrdr-content-wrp {
  max-width: 60ch;
  margin: 0 auto;
}
